.registration-form {
    border: 1px solid white;
    width: 320px;
    height: 70vh;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}



.OuterLoginForm {
    position: relative;

    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.OuterLoginForm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/img/carousel_img9.jpg");
    background-size: cover;
    filter: blur(4px);
    /* Blur amount set kare */
    z-index: -1;
    /* Pseudo-element ko background image ke piche rakhe */
}

.OuterSignupForm {
    position: relative;
    /* Parent ko position relative kare */
    /* background: url("./imgeHandler.jpg"); */
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.OuterSignupForm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/img/carousel_img5.jpg");
    background-size: cover;
    filter: blur(4px);
    /* Blur amount set kare */
    z-index: -1;
    /* Pseudo-element ko background image ke piche rakhe */
}


.formPageCss {
    width: 400px;
    padding: 20px;
    margin: 15px 0px;
    background-color: rgb(0 0 8 / 72%);
}

.formPageCss h1 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 16px 0px 0px 10px;
    text-shadow: 0px 0px 23px #fff;
}

.formPageCss input {
    /* background: transparent; */
    background-color: black;
    color: #ffffff;
}


.formPageCss label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 0px 28px #ffff;
}



.formPageCss button {
    padding: 5px 25px;
    background-color: blue;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    width: 134px;
    box-shadow: 0px 1px 60px blue;


}

.RenderNewPage {
    color: #b0b0fa;
    text-decoration: none;
    text-shadow: 0px 0px 15px #fff;
    cursor: pointer;
    justify-items: center;
}

.RenderNewPage:hover {
    color: #c3c3fa;
    color: #cdcdfa;
    text-decoration: underline;
}

@media (min-width:700px) and (max-width:900px) {
    /* .OuterSignupForm {
        min-height: 100vh;
    } */

    .formPageCss {
        position: absolute;
        top: 10px;
    }


}

@media Screen and (max-width:700px) {
    /* .OuterSignupForm {
        min-height: 100vh;
    } */

    .formPageCss {
        position: absolute;
        top: 10px;
    }

    /* .OuterLoginForm {
        height: 50vh;
    } */



}

@media Screen and (max-width:500px) {
    /* .OuterSignupForm {
        min-height: 60vh;
    } */

    .formPageCss {
        position: absolute;
        top: 10px;
    }

    /* .OuterLoginForm {
        height: 50vh;
    } */



}

@media Screen and (max-width:400px) {
    /* .OuterSignupForm {
        min-height: 97vh;
    } */

    .formPageCss {
        position: absolute;
        top: 10px;
    }

    /* .OuterLoginForm {
        min-height: 63vh;
    } */



}